$lightblue: #24a5da;
$darken_lightblue: darken($lightblue, 5);
$lighten_lightblue: lighten($lightblue, 10);

$bodyBg: #f6f7f9;

// Header
$header-height: 70px;

// Sidebar
$sidebarWidth: 300px;
$sidebarMobileWidth: 265px;

$borderRadius: 4px;

// ViewPorts

$mobile: 430px;
$tablet: 900px;
$desktop: 1100px;
